<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let list of allListings){%>

        <a href="/listings/<%= list._id %>" class="listing-link">
            <div class="card cols" >
                <img src=" <%= list.image %> " class="card-img-top" alt="listing_img" style="height: 20rem;">
                     <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= list.title %> <br></b>
                            &#8377;<%= list.price.toLocaleString("en-IN") %> /night   
                        </p>
                    </div>
            </div>
        </a>

    <% } %>
    </div>
    
</body>