<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to HOME</h1>
    <p>1 + 2 ,Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptas voluptatem, sunt natus quia quisquam accusantium temporibus reprehenderit. Consequatur illo debitis sequi a obcaecati ex accusamus laborum repudiandae facere. Iure!</p>
    <%= 1+2 %>
    <button>Click Me !!!</button>
</body>
</html>