<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Content</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
      <p>Username- @<%= post.username %></p>
      <p>Id- <%= post.id %></p>
      <textarea name="content" rows="10" cols="35"><%= post.content%></textarea>
      <button>submit</button>
    </form>
  </body>
</html>
