<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h2>Add New User</h2>
    <form method="post" action="/user">
        <input name="username" placeholder="enter username"></input>
        <br><br>
        <input name="email" placeholder="enter email"></input>
        <br><br>
        <input name="password" placeholder="enter password" type="password"></input>
        <br><br>
        <button>Add user</button>
    </form>
</body>
</html>