<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
    <style>
        table , th, tb{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <br><br>
    <form method="get" action="/user/new">
        <button>Add New User</button>
    </form>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>EMAIL</th>
            <th>USERNAME</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <th><%= user.id %> </th>
                <th><%= user.email %> </th>
                <th><%= user.username %> </th>
                <th>
                    <form method="get" action="/user/<%=user.id%>/edit">
                        <button>Edit</button>
                    </form>
                </th>
            </tr>
        <% } %>
    </table>
</body>
</html>

